html,
body {
    height: 100%;
}

body {
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 1.2em;
}

input {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
input {
    font-family: "Bree Serif"
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    width: auto;
}

.title {}

.todo-input {
    border: 4px solid rgb(86, 159, 86);
    border-radius: 5px;
    padding: 10px;
    width: 310px;
    height: 20px;
}

.todo-add {
    width: 80px;
    padding: 10px;
    margin-left: 5px;
    color: white;
    background: rgb(21, 21, 135);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-section {
    width: 400px;
    min-height: 500px;
    margin-top: 10px;
    border: 4px solid rgb(245, 198, 78);
    border-radius: 5px;
    padding: 10px;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    margin-bottom: 10px;
}

.todo-delete {
    color: rgb(199, 52, 52);
    border: none;
    background: none;
    cursor: pointer;
    float: right;
}